In [1]:
#установка библиотек
!pip install -U psycopg2
!pip install -U plotly

Requirement already satisfied: psycopg2 in /usr/local/lib/python3.7/dist-packages (2.7.6.1)
Collecting psycopg2
  Downloading psycopg2-2.9.3.tar.gz (380 kB)
     |████████████████████████████████| 380 kB 5.1 MB/s
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.3-cp37-cp37m-linux_x86_64.whl size=471561 sha256=47799489fad20a5eff6476952c57ce4f1b74368e25fc723b64888c12ff525720
  Stored in directory: /root/.cache/pip/wheels/20/78/2c/d2f59d80d97357ffd6526f209083e46d57827d94d89ac8c91a
Successfully built psycopg2
Installing collected packages: psycopg2
  Attempting uninstall: psycopg2
    Found existing installation: psycopg2 2.7.6.1
    Uninstalling psycopg2-2.7.6.1:
      Successfully uninstalled psycopg2-2.7.6.1
Successfully installed psycopg2-2.9.3
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.5.0)
Collecting plotly
  Downloading plotly-5.6.0-py2.py3-none-any.whl (27.7 MB)
     |████████████████████████████████| 27.7 MB 1.6 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.0.1)
Installing collected packages: plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 5.5.0
    Uninstalling plotly-5.5.0:
      Successfully uninstalled plotly-5.5.0
Successfully installed plotly-5.6.0

In [2]:
import psycopg2
psycopg2.__version__

'2.9.3 (dt dec pq3 ext lo64)'

# проверка подключения

In [3]:
# student11
# student11_password

In [4]:
#проверка подключения PostgreSQL 
import psycopg2
import pandas as pd
#Библиотека ждя визуализации
from IPython.display import HTML
import plotly.express as px


#!введите свои реквизиты!
DB_HOST = '52.157.159.24'
DB_USER = 'student11'
DB_USER_PASSWORD = 'student11_password'
DB_NAME = 'sql_ex_third_stream'

conn = psycopg2.connect(host=DB_HOST, user=DB_USER, password=DB_USER_PASSWORD, dbname=DB_NAME)

In [5]:
conn

In [6]:
conn.isexecuting()

False

# задания

# task1  (lesson6, дополнительно)
* SQL: Создайте таблицу с синтетическими данными (10000 строк, 3 колонки, все типы int) и заполните ее случайными данными от 0 до 1 000 000. Проведите EXPLAIN операции и сравните базовые операции.

In [7]:
SQL1 =  """
            DROP TABLE IF EXISTS synthetic_11
            ;

            CREATE TABLE synthetic_11
            (
                column_01 int,
                column_02 int,
                column_03 int
            )
            ;

            INSERT INTO synthetic_11(column_01, column_02, column_03)
            SELECT 
                1000000 * random(), 
                1000000 * random(), 
                1000000 * random()
            FROM generate_series(0, 10000 - 1)
            ;

            SELECT * 
            FROM synthetic_11
            ;
         """

df = pd.read_sql_query(SQL1, conn)
df

      column_01  column_02  column_03
0        149195     237387     190895
1        513829     187793     608368
2        936658     612580     385795
3        108220     982096     417495
4        553640     845469      95158
...         ...        ...        ...
9995     354551     926778     169290
9996     871284     343550     145413
9997     953200     568147     523742
9998     671840     180632     814648
9999     771720     245064     231567

[10000 rows x 3 columns]

In [8]:
# df.to_csv('df.csv')

In [9]:
SQL1 =  """
            EXPLAIN ANALYZE

            SELECT * 
            FROM synthetic_11
            ;

        """

df = pd.read_sql_query(SQL1, conn)
df['QUERY PLAN'][0]

'Seq Scan on synthetic_11  (cost=0.00..167.20 rows=11220 width=12) (actual time=0.009..0.810 rows=10000 loops=1)'

In [10]:
SQL1 =  """
            EXPLAIN ANALYZE

            INSERT INTO synthetic_11 (column_01, column_02, column_03)
            VALUES (1,2,3)
            ;

        """

df = pd.read_sql_query(SQL1, conn)
df['QUERY PLAN'][0]

'Insert on synthetic_11  (cost=0.00..0.01 rows=1 width=12) (actual time=0.015..0.015 rows=0 loops=1)'

In [11]:
SQL1 =  """
            EXPLAIN ANALYZE

            DELETE FROM synthetic_11
            WHERE 
                column_01 = 1 AND 
                column_02 = 2 AND 
                column_03 = 3
            ;

        """

df = pd.read_sql_query(SQL1, conn)
df['QUERY PLAN'][0]

'Delete on synthetic_11  (cost=0.00..251.35 rows=1 width=6) (actual time=0.677..0.678 rows=0 loops=1)'

# task2 (lesson6, дополнительно)
* GCP (Google Cloud Platform): Через GCP загрузите данные csv в базу PSQL по личным реквизитам (используя только bash и интерфейс bash)

```
wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=1UbCdRr0li6gFM0E2TsuW5gOPiEGLTQTC' -O ships.csv
```


```
select count(1) from ships;
 count
-------
    44
(1 row)
```



```
\COPY ships FROM './ships.csv' delimiter ',' csv header ;
COPY 22
```

```
select count(1) from ships;
 count
-------
    66
(1 row)
```